body{
  color: #555555;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 20px;
  margin: 0;
/*background-color: black*/
}

.home-container{
  display:grid;
  height:100hv;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "white-area white-area"
                        "tar-road tar-road"
                        "black-area black-area"
  ;

}

.container{
  width: 70%;
  margin: auto;
}
.top-white{
  grid-area: white-area;
  background-color: whitesmoke;
}
.road{
  grid-area:tar-road;
  background-color: #555555
}
.road .center-line{
  background:white;
  position: relative;
  top: 50%;
  height: 3px;
}
.bottom-black{
  grid-area: black-area;
  background-color: black;
}
.center-line{
  background-color: white;
}

.Disunity{
  grid-area: white-area;
  position:relative;
  color: black;
  font-size: 75px;
  top: 50px;
  left: 350px;

}

.Diversity{
  grid-area: bottom-black;
  position:relative;
  color:white;
  font-size: 75px;
  top: -50px;
  left: 850px;
}

/*******Buttons**********/
.home-button a{
  text-decoration: none;
  color:black;
}
.home-button a:hover{
  color: #555555;
  
}
.navigation-buttons{
  grid-area:tar-road;
  display: flex;
  position: relative;
  top:32vh;
  left: 8vh;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  z-index: 1;
  transition: 0.5s ease-in;
  opacity: 0;
}
.navigation-buttons a{
  text-decoration: none;
  color:white;
}
.navigation-buttons a:hover{
  z-index: 1;
  color: #858585;
  
}

.menu-nav-button{
  grid-area: tar-road;
  position: relative;
  left: 10px;
  top:2.5vh;
  display: grid;
  justify-content:center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  
 
}
/*navbar*/
.navbar-top{
  width: 25px;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.navbar{
  width: 25px;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
.navbar-bottom{
  width: 25px;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.menu-nav-button.clicked .navbar{
  transform: scaleX(-10x);
  background: transparent;
  box-shadow: none;
}
.menu-nav-button.clicked .navbar-top{
  transform: rotate(45deg) translateX(7px) translateY(7px);
}
.menu-nav-button.clicked .navbar-bottom{
  transform: rotate(-45deg) translateX(7px) translateY(-7px);

}
/***************************/